
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

.map-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #36a65a; 
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

#geotag-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #36a65a; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#geotag-button:hover {
    background-color: #0078d4; 
}

nav {
    background-color: #36a65a; 
    color: #fff; 
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #92cc73; 
}
